@import "tailwindcss";

/* =========================
   Global CSS variables
   ========================= */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* =========================
   Base styles
   ========================= */
html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
